@charset "UTF-8";
main .photo-block {
  background-image: url("../img/main.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0 80px 0;
  color: #FFFFFF;
}

main .photo-block .content h1 {
  font-size: 40px;
}

main .photo-block .content span {
  font-size: 22px;
}

main .categories-block .content {
  padding: 30px 0;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .categories-block .content .categories {
  padding-bottom: 10px;
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .categories-block .content .categories::-webkit-scrollbar {
  width: 2px;
  height: 7px;
}

main .categories-block .content .categories::-webkit-scrollbar-track-piece {
  background-color: #F8F8F8;
  display: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

main .categories-block .content .categories::-webkit-scrollbar-thumb {
  background-color: #ECECEC;
  display: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

main .categories-block .content .categories:hover::-webkit-scrollbar-track-piece {
  display: block;
  cursor: pointer;
}

main .categories-block .content .categories:hover::-webkit-scrollbar-thumb {
  display: block;
}

main .categories-block .content .categories .category-item {
  margin-right: 15px;
}

main .categories-block .content .categories .category-item:last-child {
  margin-right: 0;
}

main .categories-block .content .other {
  margin-left: 20px;
  min-width: 155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 99;
}

main .categories-block .content .other:hover .transparent,
main .categories-block .content .other:hover .other-categories {
  opacity: 1;
  visibility: visible;
}

main .categories-block .content .other .other-button {
  width: 90px;
  min-height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .categories-block .content .other .other-button span {
  margin-right: 10px;
}

main .categories-block .content .other .other-button img {
  width: 10px;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

main .categories-block .content .other .transparent {
  display: block;
  min-height: 15px;
  width: 100%;
  opacity: 0;
  visibility: hidden;
}

main .categories-block .content .other .other-categories {
  width: 100%;
  opacity: 0;
  visibility: hidden;
  color: #4B4B4B;
  background-color: #F8F8F8;
  border-radius: 4px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}

main .categories-block .content .other .other-categories .o-cat {
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  cursor: pointer;
  padding: 0 10px;
}

main .categories-block .content .other .other-categories .o-cat:hover {
  background-color: #ECECEC;
}

main .categories-block .content .other .other-categories .o-cat:first-child {
  border-radius: 4px 4px 0 0;
}

main .categories-block .content .other .other-categories .o-cat:last-child {
  border-radius: 0 0 4px 4px;
}

main .categories-block .mobile-content {
  display: none;
  padding: 30px 0;
}

main .search-block {
  margin-bottom: 30px;
}

main .search-block .content {
  position: relative;
  width: 100%;
}

main .search-block .content .search {
  width: 100%;
  height: 38px;
  padding: 0 20px 0 47px;
  border: 1px solid #D2D2D2;
  border-radius: 4px;
  background-color: transparent;
}

main .search-block .content img {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main .action-block {
  margin-bottom: 30px;
}

main .action-block .content .action-list {
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 180px;
}

main .action-block .content .action-list::-webkit-scrollbar {
  width: 2px;
  height: 7px;
}

main .action-block .content .action-list::-webkit-scrollbar-track-piece {
  background-color: #F8F8F8;
  display: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

main .action-block .content .action-list::-webkit-scrollbar-thumb {
  background-color: #ECECEC;
  display: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

main .action-block .content .action-list:hover::-webkit-scrollbar-track-piece {
  display: block;
  cursor: pointer;
}

main .action-block .content .action-list:hover::-webkit-scrollbar-thumb {
  display: block;
}

main .action-block .content .action-list .action-item {
  min-width: 260px;
  width: 260px;
  height: 150px;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  margin-right: 20px;
}

main .action-block .content .action-list .action-item:last-child {
  margin-right: 0;
}

main .action-block .content .action-list .action-item:hover .image-block img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

main .action-block .content .action-list .action-item .image-block {
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

main .action-block .content .action-list .action-item .image-block img {
  height: 80px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px 10px 0 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

main .action-block .content .action-list .action-item .action-info-block {
  height: 70px;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 0 0 10px 10px;
  padding: 5px 18px 0 18px;
}

main .action-block .content .action-list .action-item .action-info-block .action-label {
  -webkit-transform: translate(-8px, -18px);
          transform: translate(-8px, -18px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main .action-block .content .action-list .action-item .action-info-block .action-label .action-title {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  font-size: 18px;
  color: #DE3E26;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

main .action-block .content .action-list .action-item .action-info-block p {
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
  color: #4B4B4B;
  font-weight: 700;
  line-height: 1.1;
  font-size: 14px;
}

main .restaurant-block .content .restaurant-list {
  margin-bottom: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

main .restaurant-block .content .restaurant-list .restaurant {
  display: block;
  max-width: 350px;
  width: 100%;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
}

main .restaurant-block .content .restaurant-list .restaurant:hover .restaurant-image .rest {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

main .restaurant-block .content .restaurant-list .restaurant .restaurant-image {
  height: 170px;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  position: relative;
}

main .restaurant-block .content .restaurant-list .restaurant .restaurant-image .rest {
  height: 185px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

main .restaurant-block .content .restaurant-list .restaurant .restaurant-image .rest-label {
  bottom: 15px;
  right: 15px;
  position: absolute;
}

main .restaurant-block .content .restaurant-list .restaurant .restaurant-information {
  display: block;
  padding: 10px 15px;
  background-color: #FFFFFF;
  border-radius: 0 0 10px 10px;
}

main .restaurant-block .content .restaurant-list .restaurant .restaurant-information .restaurant-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .restaurant-block .content .restaurant-list .restaurant .restaurant-information .restaurant-title h4 {
  font-size: 22px;
  color: #2A2A2A;
  width: calc(100% - 20px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

main .restaurant-block .content .restaurant-list .restaurant .restaurant-information .restaurant-title .stars {
  width: 70px;
  color: #DE3E26;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .restaurant-block .content .restaurant-list .restaurant .restaurant-information .restaurant-title .stars img {
  margin-right: 5px;
}

main .restaurant-block .content .restaurant-list .restaurant .restaurant-information .restaurant-text-labels {
  margin-bottom: 10px;
}

main .restaurant-block .content .restaurant-list .restaurant .restaurant-information .restaurant-text-labels .text-labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .restaurant-block .content .restaurant-list .restaurant .restaurant-information .restaurant-text-labels .text-labels .text-label {
  font-size: 14px;
  color: #858585;
  position: relative;
  margin-right: 7px;
}

main .restaurant-block .content .restaurant-list .restaurant .restaurant-information .restaurant-text-labels .text-labels .text-label::after {
  content: '•';
  margin-left: 7px;
}

main .restaurant-block .content .restaurant-list .restaurant .restaurant-information .restaurant-text-labels .text-labels .text-label:last-child::after {
  display: none;
}

main .restaurant-block .content .restaurant-list .restaurant .restaurant-information .delivery-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .restaurant-block .content .restaurant-list .restaurant .restaurant-information .delivery-info .delivery {
  margin-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .restaurant-block .content .restaurant-list .restaurant .restaurant-information .delivery-info .delivery:last-child {
  margin-right: 0;
}

main .restaurant-block .content .restaurant-list .restaurant .restaurant-information .delivery-info .delivery img {
  margin-right: 5px;
}

main .restaurant-block .content .restaurant-list .restaurant .restaurant-information .delivery-info .delivery span {
  font-size: 14px;
  color: #858585;
  font-weight: 700;
}

main .basket {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 350px;
  background-color: #FFFFFF;
  -webkit-box-shadow: -2px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: -2px 3px 6px rgba(0, 0, 0, 0.16);
}

main .my-data {
  padding: 30px 0;
  color: #4B4B4B;
}

main .my-data .page-title {
  margin-bottom: 40px;
}

main .my-data .page-title h2 {
  font-size: 30px;
}

main .info-block {
  max-width: 600px;
  width: 100%;
  padding: 30px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16);
  border-radius: 6px;
  margin-bottom: 20px;
}

main .info-block:last-child {
  margin-bottom: 0;
}

main .info-block .info-block-title h3 {
  font-size: 18px;
}

main .info-block .content {
  padding: 30px 0;
}

main .info-block .content .personal-info-fields p {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .info-block .content .personal-info-fields p:last-child {
  margin-bottom: 0;
}

main .info-block .content .personal-info-fields p label {
  min-width: 100px;
  display: block;
}

main .info-block .content .personal-info-fields p input {
  width: 100%;
  height: 30px;
  padding: 0 10px;
  border: 1px solid #D2D2D2;
  border-radius: 4px;
}

main .info-block .content .my-addresses .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

main .info-block .content .my-addresses .address:last-child {
  margin-bottom: 0;
}

main .info-block .content .my-addresses .address input {
  height: 30px;
  width: 100%;
  background-color: #FFFFFF;
  border: 1px solid #D2D2D2;
  border-radius: 4px;
  padding: 0 10px;
  cursor: not-allowed;
}

main .info-block .content .my-addresses .address .action-icons {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .info-block .content .my-addresses .address .action-icons .action-icon {
  height: 30px;
  width: 30px;
  margin-right: 5px;
  background-color: transparent;
  border: none;
}

main .info-block .content .my-addresses .address .action-icons .action-icon:last-child {
  margin-right: 0;
}

@media (max-width: 1200px) {
  main .restaurant-block .content .restaurant-list .restaurant {
    max-width: 290px;
  }
}

@media (max-width: 992px) {
  main .restaurant-block .content .restaurant-list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  main .restaurant-block .content .restaurant-list .restaurant {
    max-width: 340px;
  }
}

@media (max-width: 768px) {
  main .restaurant-block .content .restaurant-list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  main .restaurant-block .content .restaurant-list .restaurant {
    max-width: 250px;
  }
}

@media (max-width: 575px) {
  main .categories-block .content {
    display: none;
  }
  main .categories-block .mobile-content {
    display: block;
  }
  main .restaurant-block .content .restaurant-list {
    display: block;
  }
  main .restaurant-block .content .restaurant-list .restaurant {
    margin-bottom: 20px;
    max-width: 100%;
  }
  main .restaurant-block .content .restaurant-list .restaurant:last-child {
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=main.css.map */