$white: #FFFFFF;
$black: #4B4B4B;
$hover: #ECECEC;
$red: #DE3E26;

button{
    font-size: 14px;
}

.white-active-button{
    position: relative;
    height: 38px;
    padding: 0 25px;
    background-color: transparent;
    color: $white;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    &:last-child{
        margin-right: 0;
    }
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 2px solid $white;
        border-radius: 4px;
        transition: 0.2s;
        opacity: 0;
    }
    &:hover{
        &::before{
            opacity: 1;
        }
    }
}

.active-other-rest{
    height: 50px;
    width: 100%;
    background-color: transparent;
    color: $red;
    border: 2px solid $red;
    border-radius: 4px;
    transition: 0.2s;
    font-weight: 700;
    font-size: 16px;
    &:hover{
        background-color: $red;
        color: $white;
    }
}

.active{
    height: 38px;
    padding: 0 30px;
    background-color: transparent;
    color: $red;
    border: 2px solid $red;
    border-radius: 4px;
    transition: 0.2s;
    font-weight: 700;
    font-size: 14px;
    &:hover{
        background-color: $red;
        color: $white;
    }
}

.cat-button{
    background-color: transparent;
    border: none;
    font-size: 14px;
    height: 38px;
    padding: 0 20px;
    color: $black;
    transition: 0.2s;
    border-radius: 4px;
    &:hover{
        background-color: $hover;
    }
}

.open-cat-menu{
    height: 38px;
    color: $black;
    background-color: $hover;
    border: none;
    width: 100%;
    max-width: 200px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    img{
        width: 10px;
    }
}