$bg: #ECECEC;
$main: #858585;

footer{
    padding: 20px 0;
    margin-top: 40px;
    background-color: $bg;
    .footer{
        .line{
            border: none;
            border-top: 1px solid $main;
            margin: 20px 0;
        }
        .main-footer{
            display: flex;
            justify-content: space-between;
            .left{
                .logo{
                    display: flex;
                    align-items: center;
                    margin-bottom: 15px;
                    .f-logo{
                        margin-right: 15px;
                    }
                }
                .footer-pages{
                    .page{
                        font-size: 14px;
                        margin-bottom: 5px;
                        &:last-child{
                            margin-bottom: 0;
                        }
                        a{
                            color: $main;
                        }
                    }
                }
            }
            .right{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: space-between;
                .apps{
                    display: flex;
                    a{
                        display: block;
                        margin-right: 10px;
                        &:last-child{
                            margin-right: 0;
                        }
                    }
                }
                .networks{
                    display: flex;
                    .network{
                        margin-right: 7px;
                        &:last-child{
                            margin-right: 0;
                        }
                    }
                }
            }
        }
        .info-footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $main;
            font-size: 14px;
            a{
                color: $main;
            }
        }
    }
    .mobile-footer{
        display: none;
    }
}

@media(max-width: 768px){
    footer{
        margin-bottom: 80px;
    }
}

@media (max-width: 575px){
    footer{
        .footer{
            display: none;
        }
        .mobile-footer{
            display: block;
            .logo{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 12px;
                .eda-logo{
                    display: flex;
                    align-items: center;
                    .fm-logo{
                        height: 30px;
                        margin-right: 10px;
                    }
                    .fm-name{
                        height: 15px;
                    }
                }
                .mb-apps{
                    img{
                        height: 30px;
                    }
                    .hdn{
                        display: none;
                    }
                }
            }
            .networks{
                display: flex;
                justify-content: center;
                margin-top: 20px;
                margin-bottom: 20px;
                .network{
                    margin-right: 12px;
                    &:last-child{
                        margin-right: 0;
                    }
                    img{
                        height: 30px;
                    }
                }
            }
            .footer-pages{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 20px;
                .page{
                    height: 30px;
                    width: 100%;
                    margin-bottom: 5px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    a{
                        height: 100%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: $main;
                    }
                }
            }
            .info-footer{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
                // margin-bottom: 20px;
                color: $main;
                font-size: 14px;
                a{
                    color: $main;
                    height: 40px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .terms-of-use{
                    width: 100%;
                }
            }
        }
    }
}