$white: #FFFFFF;
$black: #4B4B4B;
$red: #DE3E26;
$border: #D2D2D2;
$main: #2A2A2A;
$grey: #858585;
$cat: #F8F8F8;
$hover: #ECECEC;

main{
    .photo-block{
        background-image: url('../img/main.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 30px 0 80px 0;
        color: $white;
        .content{
            h1{
                font-size: 40px;
            }
            span{
                font-size: 22px;
            }
        }
    }
    .categories-block{
        .content{
            padding: 30px 0;
            height: 110px;
            display: flex;
            justify-content: space-between;
            .categories{
                padding-bottom: 10px;
                overflow-x: auto;
                display: flex;
                &::-webkit-scrollbar { width: 2px; height: 7px;}
                &::-webkit-scrollbar-track-piece { background-color: $cat; display: none; transition: 0.2s;}
                &::-webkit-scrollbar-thumb { background-color: $hover; display: none; transition: 0.2s;}
                &:hover{
                    &::-webkit-scrollbar-track-piece { display: block; cursor: pointer;}
                    &::-webkit-scrollbar-thumb { display: block;}
                }
                .category-item{
                    margin-right: 15px;
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
            .other{
                margin-left: 20px;
                min-width: 155px;
                display: flex;
                align-items: flex-end;
                flex-direction: column;
                z-index: 99;
                &:hover{
                    .transparent,
                    .other-categories{
                        opacity: 1;
                        visibility: visible;
                    }
                }
                .other-button{
                    width: 90px;
                    min-height: 38px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    span{
                        margin-right: 10px;
                    }
                    img{
                        width: 10px;
                        transform: translateY(1px);
                    }
                }
                .transparent{
                    display: block;
                    min-height: 15px;
                    width: 100%;
                    opacity: 0;
                    visibility: hidden;
                }
                .other-categories{
                    width: 100%;
                    opacity: 0;
                    visibility: hidden;
                    color: $black;
                    background-color:  $cat;
                    border-radius: 4px;
                    transition: 0.2s;
                    box-shadow: 0 0 10px rgba(0,0,0,.16);
                    .o-cat{
                        height: 34px;
                        display: flex;
                        align-items: center;
                        font-size: 14px;
                        cursor: pointer;
                        padding: 0 10px;
                        &:hover{
                            background-color: $hover;
                        }
                        &:first-child{
                            border-radius: 4px 4px 0 0;
                        }
                        &:last-child{
                            border-radius: 0 0 4px 4px;
                        }
                    }
                }
            }
        }
        .mobile-content{
            display: none;
            padding: 30px 0;
        }
    }
    .search-block{
        margin-bottom: 30px;
        .content{
            position: relative;
            width: 100%;
            .search{
                width: 100%;
                height: 38px;
                padding: 0 20px 0 47px;
                border: 1px solid $border;
                border-radius: 4px;
                background-color: transparent;
            }
            img{
                position: absolute;
                top: 50%;
                left: 20px;
                transform: translateY(-50%);
            }
        }
    }
    .action-block{
        margin-bottom: 30px;
        .content{
            .action-list{
                overflow-x: auto;
                display: flex;
                justify-content: space-between;
                height: 180px;
                &::-webkit-scrollbar { width: 2px; height: 7px;}
                &::-webkit-scrollbar-track-piece { background-color: $cat; display: none; transition: 0.2s;}
                &::-webkit-scrollbar-thumb { background-color: $hover; display: none; transition: 0.2s;}
                &:hover{
                    &::-webkit-scrollbar-track-piece { display: block; cursor: pointer;}
                    &::-webkit-scrollbar-thumb { display: block;}
                }
                .action-item{
                    min-width: 260px;
                    width: 260px;
                    height: 150px;
                    border-radius: 10px;
                    box-shadow: 0 3px 6px rgba(0,0,0,.16);
                    margin-right: 20px;
                    &:last-child{
                        margin-right: 0;
                    }
                    &:hover{
                        .image-block{
                            img{
                                transform: scale(1.05);
                            }
                        }
                    }
                    .image-block{
                        overflow: hidden;
                        border-radius: 10px 10px 0 0;
                        img{
                            height: 80px;
                            width: 100%;
                            object-fit: cover;
                            display: flex;
                            border-radius: 10px 10px 0 0;
                            transition: 0.2s;
                        }
                    }
                    .action-info-block{
                        height: 70px;
                        width: 100%;
                        background-color: $white;
                        border-radius: 0 0 10px 10px;
                        padding: 5px 18px 0 18px;
                        .action-label{
                            transform: translate(-8px, -18px);
                            display: flex;
                            align-items: flex-end;
                            .action-title{
                                transform: translateY(-4px);
                                font-size: 18px;
                                color: $red;
                                overflow: hidden;
                                width: 100%;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                        }
                        p{
                            transform: translateY(-18px);
                            color: $black;
                            font-weight: 700;
                            line-height: 1.1;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    .restaurant-block{
        .content{
            .restaurant-list{
                margin-bottom: 40px;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 40px;
                .restaurant{
                    display: block;
                    max-width: 350px;
                    width: 100%;
                    box-shadow: 0 3px 6px rgba(0,0,0,.16);
                    border-radius: 10px;
                    &:hover{
                        .restaurant-image{
                            .rest{
                                transform: scale(1.05);
                            }
                        }
                    }
                    .restaurant-image{
                        height: 170px;
                        overflow: hidden;
                        border-radius: 10px 10px 0 0;
                        position: relative;
                        .rest{
                            height: 185px;
                            width: 100%;
                            object-fit: cover;
                            border-radius: 10px 10px 0 0;
                            display: flex;
                            transition: 0.2s;
                        }
                        .rest-label{
                            bottom: 15px;
                            right: 15px;
                            position: absolute;
                        }
                    }
                    .restaurant-information{
                        display: block;
                        padding: 10px 15px;
                        background-color: $white;
                        border-radius: 0 0 10px 10px;
                        .restaurant-title{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            h4{
                                font-size: 22px;
                                color: $main;
                                width: calc(100% - 20px);
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                            }
                            .stars{
                                width: 70px;
                                color: $red;
                                font-size: 18px;
                                display: flex;
                                align-items: center;
                                justify-content: flex-end;
                                img{
                                    margin-right: 5px;
                                }
                            }
                        }
                        .restaurant-text-labels{
                            margin-bottom: 10px;
                            .text-labels{
                                display: flex;
                                flex-wrap: wrap;
                                .text-label{
                                    font-size: 14px;
                                    color: $grey;
                                    position: relative;
                                    margin-right: 7px;
                                    &::after{
                                        content: '•';
                                        margin-left: 7px;
                                    }
                                    &:last-child{
                                        &::after{
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                        .delivery-info{
                            display: flex;
                            align-items: center;
                            flex-wrap: wrap;
                            .delivery{
                                margin-right: 25px;
                                &:last-child{
                                    margin-right: 0;
                                }
                                display: flex;
                                align-items: center;
                                img{
                                    margin-right: 5px;
                                }
                                span{
                                    font-size: 14px;
                                    color: $grey;
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .basket{
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 350px;
        background-color: $white;
        box-shadow: -2px 3px 6px rgba(0,0,0,.16);    
    }
    .my-data{
        padding: 30px 0;
        color: $black;
        .page-title{
            margin-bottom: 40px;
            h2{
                font-size: 30px;
            }
        }
    }
    .info-block{
        max-width: 600px;
        width: 100%;
        padding: 30px;
        background-color: $white;
        box-shadow: 0 1px 5px rgba(0,0,0,.16);
        border-radius: 6px;
        margin-bottom: 20px;
        color: $black;
        &:last-child{
            margin-bottom: 0;
        }
        .line{
            width: 100%;
            border: 1px solid $border;
            border-bottom: none;
            margin: 20px 0;
        }
        
        .order-data{
            margin-top: 15px;
            span{
                display: block;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                font-size: 14px;
                color: $grey;
            }
        }
        .order-content{
            margin-bottom: 20px;
            color: $black;
            .order-list{
                margin-bottom: 20px;
                margin-left: 15px;
                .order-item{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    position: relative;
                    font-size: 14px;
                    margin-bottom: 8px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    &::before{
                        content: '';
                        position: absolute;
                        height: 6px;
                        width: 6px;
                        border-radius: 50%;
                        background-color: $black;
                        transform: translateX(-15px);
                    }
                    .order-list-name{
                        width: calc(100% - 120px);
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                    .order-list-data{
                        span{
                            margin-right: 10px;
                            &:last-child{
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
            .promocode{
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 14px;
            }
        }
        .order-num{
            margin-bottom: 15px;
            span{
                color: $grey;
                font-size: 14px;
            }
        }
        .info-block-title{
            h3{
                font-size: 18px;
            }
        }
        .order-block-title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            h3{
                font-size: 18px;
            }
            .r-name{
                width: calc(100% - 100px);
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
        .ct-content{
            padding: 30px 0 0 0;
            .ct-text{
                font-size: 14px;
                color: $black;
                text-align: justify;
                margin-bottom: 15px;
                a{
                    color: $red;
                    text-decoration: underline;
                }
            }
            .ct-list{
                .ct-item{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 15px;
                    font-size: 14px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    .name{
                        color: $grey;
                    }
                    .value{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        span{
                            display: block;
                            &.link{
                                a{
                                    color: $red;
                                }
                            }
                        }
                    }
                }
            }
        }
        .content{
            padding: 30px 0;
            .personal-info-fields{
                // padding: 0 82px 0 20px;
                p{
                    margin-bottom: 15px;
                    display: flex;
                    align-items: center;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    label{
                        min-width: 100px;
                        display: block;
                    }
                    input{
                        width: 100%;
                        height: 30px;
                        padding: 0 10px;
                        border: 1px solid $border;
                        border-radius: 4px;
                    }
                }
            }
            .my-addresses{
                .address{
                    display: flex;
                    margin-bottom: 15px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    input{
                        height: 30px;
                        width: 100%;
                        background-color: $white;
                        border: 1px solid $border;
                        border-radius: 4px;
                        padding: 0 10px;
                        cursor: not-allowed;
                    }
                    .action-icons{
                        width: 100px;
                        display: flex;
                        justify-content: flex-end;
                        .action-icon{
                            height: 30px;
                            width: 30px;
                            margin-right: 5px;
                            background-color: transparent;
                            border: none;
                            &:last-child{
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 1200px){
    main{
        .restaurant-block{
            .content{
                .restaurant-list{
                    .restaurant{
                        max-width: 290px;
                    }
                }
            }
        }
    }
}

@media(max-width: 992px){
    main{
        .restaurant-block{
            .content{
                .restaurant-list{
                    grid-template-columns: 1fr 1fr;
                    .restaurant{
                        max-width: 340px;
                    }
                }
            }
        }
    }
}

@media(max-width: 768px){
    main{
        .restaurant-block{
            .content{
                .restaurant-list{
                    grid-template-columns: 1fr 1fr;
                    .restaurant{
                        max-width: 250px;
                    }
                }
            }
        }
    }
}

@media(max-width: 575px){
    main{
        .categories-block{
            .content{
                display: none;
            }
            .mobile-content{
                display: block;
            }
        }
        .restaurant-block{
            .content{
                .restaurant-list{
                    display: block;
                    .restaurant{
                        margin-bottom: 20px;
                        &:last-child{
                            margin-bottom: 0;
                        }
                        max-width: 100%;
                    }
                }
            }
        }
    }
}